/***navbar***/

.nav-item{
letter-spacing: .2em;
font-size:14px;

}

.dropdown-item{
letter-spacing: .2em;
font-size:15px;
}

#my-footer {
background-color:#7D8F9B ;
height:200px;
}

#my-footer p {
padding-top:20px;
font-size:14px;
}
/*** category ***/
.my_row_class{
padding-top:15px;
}

.my_row_class .mx_auto{
color:#000;
font-size:18px;
}

.my_image{
width:100%;
height:auto;

}
.my_image1{
width:300px;
height:300px;

}
.my_img_padding{
padding:10px;
}

.img-cat{
width:50%;
height:auto;
}

.my_bottom_margin{
margin-bottom:30px;
}

.card-body h4{
font-size:15px;
letter-spacing: .2em;
}


/***product***/

.my_prod_row{
padding-top:20px;
padding-bottom-20px;
}

.my_prod_row .mx_auto{
color:#000;
font-size:16px;
}

.my_prod_title{
font-size:16px;
padding-20px;
padding-bottom-20px;

}
.prod-img{
margin-bottom:40px;
}


/***search***/
.my_search_text{
padding-top:20px;
}
/***cart***/
.my_table{
min-width:400px;
font-size:16px;
margin-top:10px;
}
.my_table_two{
min-width:400px;
font-size:16px;
margin-top:10px;
margin-left:10px;
height:160px;
}

.my_thead{
font-weight:normal;
letter-spacing:.2em;
background-color:#D7DBDD!important;
}

.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:purple!important;
}

.my_btn{
margin-top:5px;

}

.custom_image{
height:100px;
width:100px;
}

